/*
Author: Siderka Eugene
Date: Nov 24, 2014
Description: 
*/

.block {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    padding: 5px;
    margin-bottom: 15px;
    
    -webkit-box-shadow: 0 0 10px 2px #C2C2C2;
    box-shadow: 0 0 10px 2px #C2C2C2;    
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.block h1 {
    font: bold 14px Arial;
    text-align: center;
}

.ad {
    width: 200px;
    margin: 5px auto;
}

.authorization {
    text-align: right;
}

.input-prepend .add-on {
    height: 50px;
}