/*
Author: Siderka Eugene
Date: Nov 24, 2014
Description: 
*/

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

header
{
    width: 1200px;
    position: relative;
    border: 3px solid black;
    height: 80px;
}

#logo
{
    position: absolute;
    top:0px;
    left:0px;
    width: 225px;
    height: 80px;
    border: 1px solid black;
}

#shapka
{
    width: 725px;
    height: 80px;
    position: absolute;
    top: 0px;
    right: 250px;
    border: 1px solid black;
}

#avt
{
    position: absolute;
    width: 250px;
    height: 80px;
    right: 0px;
    top: 0px;
    border: 1px solid black;
}
#Reg
{
    float: right;
}

#SingIn
{
    float: left;
}

article
{
    position: relative;
    width: 1200px;
    height: 500px;
    border: 3px solid black;
}

#content
{
    position: absolute;
    width: 900px;
    height: 500px;
    left: 0px;
    border: 1px solid black;
    display: block;
}

#sidebar
{
    display: block;
    position: relative;
    border: 1px solid black;
    width: 300px;
    height: 500px;
    right: 0px;
    float: right;
}

#events
{
    display: block;
    width: 860px;
    height: 460px;
    margin: 20px;
    border: 1px solid black;
}

footer
{
    position: relative;
    width: 1200px;
    height: 50px;
    border: 3px solid black;
}

#copyritght
{
   position: absolute;
   right: 150px;
   width: 150px;
   height: 50px;
   text-align: center;
   border: 1px solid black;
}

#about
{
    text-align: center;
    position: absolute;
    right: 0px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

#Userfield
{
    float: right;
}

#Passfield
{
    float: right;
}

#filter
{
    position: absolute;
    width: 280px;
    height: 480px;
    margin: 10px;
    border-radius: 3px;
    border-color: purple;
}

#Map
{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 20px;
    left: 40px;
    top: 20px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: aquamarine;
    color: red;
}
/*ХХХ*/
#Search
{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 20px;
    left: 40px;
    top: 60px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: aquamarine;
    color: red;
}

#View
{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 20px;
    left: 40px;
    top: 100px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: aquamarine;
    color: red;
}

#reklama
{
    position: absolute;
    top: 140px;
    width: 260px;
    height: 330px;
    border-radius: 3px;
    border-color: purple;
    left: 10px;
}

#clear
{
    clear: both;
}
.event
{
    display: block;
}

.data_time
{
    padding: 5px;
    float: left;
}

.event_adress
{
    padding: 5px;
    float: left;
}

.event_title
{
    padding: 5px;
    float: left;
}

.event_price
{
    padding: 5px;
    float: left;
}

#maps
{
    display: block;
    width: 860px;
    height: 460px;
    margin: 20px;
    border: 1px solid black;
}